body {
  background-color: black;
  font-size: 16px;
  margin: 0 10px;
  text-align: center;
}

h1 {
  color: white;
  font-size: calc(2em + 5px);
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

p {
  margin: 0;
  padding: 5px;
}

.time {
  color:aquamarine;
}

.path {
  color: lightblue;
}

.body {
  color: lightcoral;
  text-align: left;
}

@media (min-width: 768px) {
  body {
    font-size: 2vw;
  }

  #root {
    width: calc(80vw + 153px);
  }
}