version: '3.3'

services:

  node:
    build:
      context: ../
      dockerfile: ./docker/node/dockerfile
    restart: always
    environment:
      WEBHOOK_MONGO_STRING: mongodb://root:example@mongo:27017

  nginx:
    build:
      context: ../
      dockerfile: ./docker/nginx/dockerfile
    ports:
      - "8080:80"
    restart: always

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
